.root {
    @apply absolute
    w-[30rem]
    max-w-[95%]
    md:w-[400px]
    md:max-w-none
    left-1/2
    -translate-x-1/2
    top-1/2 -translate-y-1/2
    bg-theme-black-alpha
    p-4
    sm:p-8
    rounded-xl
    md:rounded-2xl
    max-h-[100vh]
    overflow-x-auto;
}

.heading {
    @apply text-xl
    sm:text-lg
    text-center
    font-extrabold;
}

.sub__heading {
    @apply text-xs
    sm:text-sm
    text-theme-gray-2
    text-center
    my-6
}

.notice {
    @apply flex
    items-center
    gap-4
    bg-theme-red-alpha
    p-2
    sm:p-4
    rounded-lg
}

.notice__icon {
    @apply text-theme-red-1
}

.notice__text {
    @apply text-theme-gray-2
    text-xs
    sm:text-sm
}

.close__btn {
    @apply w-12
    h-12
    block
    mt-4
    mx-auto
}

.close__icon__wrapper {
    @apply w-12
    h-12
    relative;
}
.connected__wallet__details {
    @apply my-8
    text-center
}


.connected__wallet__name {
    @apply block
    text-xs
    text-center
    
}

.connected__wallet__address {
    @apply block
    text-center
    text-base
    font-bold
}

.wallet__balance {
    @apply my-8
    text-center
}

.balance__value, .balance__key {
    @apply block
    text-xs
    text-center
}

.balance__value {
    @apply text-xl
    font-bold
}

.balance__key {
    @apply text-theme-gray-1
}

.btn__group {
    @apply flex
    gap-4
    justify-center
    items-center
}

.disconect__btn {
    @apply
    border-theme-red-2
    bg-theme-red-2
    hover:bg-theme-red-1
    text-theme-white
    w-full
    text-sm
    sm:text-base
    rounded-full p-3
}

.buy__btn {
    @apply border border-theme-secondary-1
    w-full
    text-center
    text-sm
    sm:text-base
    rounded-full p-3
}

.connected__wallet__icon__wrapper {
    @apply w-12
    h-12
    mx-auto
    relative;
}

.wallet__wrapper {
    @apply grid
    grid-cols-2
    gap-2
    sm:gap-4
    my-4
}

.wallet__btn {
    @apply flex
    flex-col
    items-center
    bg-theme-primary-1
    rounded-xl
    p-4
    border
    border-theme-primary-1
    hover:border-theme-secondary-1
    transition-all
}

.wallet__name {
    @apply block
    mt-4
    text-sm
}

