.root {
    @apply absolute
    w-[30rem]
    max-w-[95%]
    md:w-[450px]
    md:max-w-none
    left-1/2
    -translate-x-1/2
    top-1/2 -translate-y-1/2
    bg-theme-primary-2
    px-4
    py-6
    sm:p-8
    rounded-lg
    md:rounded-xl
    max-h-[100vh]
    overflow-x-auto
}

.header {
    @apply flex
    justify-between
    items-center
    mb-4;
}

.title {
    @apply text-xl
    font-extrabold;
}

.close__btn {
    @apply w-8
    h-8
}

.close__icon__wrapper {
    @apply w-8
    h-8
    relative;
}

.notice {
    @apply
    p-4
    sm:p-6
    rounded-xl
}

.notice__positive {
    @apply bg-theme-green-alpha
}

.notice__negative {
    @apply bg-theme-red-alpha
}

.notice__text {
    @apply text-xs
}

.notice__key {
    @apply block
    mb-2
}

.second__section {
    @apply py-6
    text-center
}

.second__section span {
    @apply block
    my-2
}

.receive {
    @apply text-sm
}

.amount {
    @apply text-xl
    font-extrabold;
}

.insured__balance__text {
    @apply text-xs
    text-theme-white-alpha
}

.details {
    @apply bg-theme-white-alpha-3
    border-2
    border-dashed
    border-theme-gray-alpha-2
    rounded-xl
    p-3
    pb-0
    mb-6
}

.key__value {
    @apply flex
    justify-between
    items-center
    text-sm
    mb-2
}

.value {
    @apply font-bold
}

.action__btn {
    @apply w-full
    font-bold text-base
    rounded-full
    p-2
    sm:p-3
}

.withdrawal__btn {
    @apply text-theme-black
    bg-theme-secondary-2
    hover:bg-theme-secondary-1
}

.withdrawal__btn:disabled {
    @apply bg-theme-secondary-alpha-2
    text-theme-white-alpha
    cursor-not-allowed
}

.cancel__btn {
    @apply text-theme-white
    bg-theme-red-1
    hover:bg-theme-red-2
}

.cancel__btn:disabled {
    @apply bg-theme-red-2
    opacity-5
    text-theme-white-alpha
    cursor-not-allowed
}