.root {
    @apply my-8
    grid grid-cols-1
    sm:grid-cols-2
    sm:gap-6
    xl:grid-cols-3
    lg:gap-8
}

/* my package card here */
.my__package__card {
    @apply bg-theme-primary-2
    rounded-2xl
    pt-8
    px-4
    pb-[2.2rem]
    mb-6 sm:mb-0
    w-full
    max-w-[38rem]
    min-w-[19rem]
    sm:w-auto
    mx-auto
    sm:mx-0;
}

.head {
    @apply bg-theme-primary-1
    flex
    justify-between
    items-center
    p-2
    px-4
    rounded-lg
}

.balance {
    @apply text-xs
}

.amount {
    @apply text-sm
    font-bold
}

.status {
    @apply whitespace-nowrap
    px-4
    py-1
    rounded-lg
    text-xs
}

.status__active {
    @apply bg-theme-green
}

.status__expired {
    @apply bg-theme-gray-1
}

.status__icon {
    @apply inline
    align-middle
    text-xl
}

.name__section {
    @apply mt-8
    flex
    justify-between
    items-center
}

.body {
    @apply relative
    left-2
    sm:left-4
}

.name {
    @apply font-extrabold
    text-xl
}

.dot {
    @apply mr-10
}

.package__details {
    @apply flex
    justify-start
    items-center
    gap-6
    sm:gap-8
    mt-6
    border-b-[0.2px]
    border-theme-gray-1
    pb-4
}

.key__value {
    @apply flex
    flex-col
    text-xs
}

.key {
    @apply text-theme-gray-1
}

.section__two {
    @apply w-full
    pr-4
}

.coin__details {
    @apply bg-theme-primary-1
    mt-6
    p-4
    pb-0
    rounded-xl
}

.coin {
    @apply flex
    justify-between
    items-center
}

.icon__nd__name {
    @apply flex
    items-center
    text-xs
}

.price__change {
    @apply flex
    flex-col
    items-end
    text-xs
}

.coin_logo__wrapper {
    @apply w-6 h-6
    relative
    mr-2
}

.increase__value {
    @apply text-theme-green
}

.decrease__value {
    @apply text-theme-red-1
}

.increase__key {
    @apply
    text-[.5rem]
    text-theme-gray-1
}

.expired__in__text {
    @apply my-6
    text-theme-gray-1
    text-xs
}

.countdown__nd__button {
    @apply flex
    justify-between
    items-end
}

.countdown__container {
    @apply flex
    gap-2
    sm:gap-4
}

.countdown__group {
    @apply flex
    flex-col
    items-center
    relative
}

.countdown__group:not(.countdown__group:last-of-type):after {
    @apply absolute
    left-[100%]
    content-[':']
    text-base
    sm:text-xl
    font-extrabold
    /* -top-1 */
}

.countdown__value {
    @apply
    text-base
    sm:text-xl
    font-extrabold
}

.countdown__label {
    @apply
    mt-2
    text-[.5rem]
    text-theme-gray-1
}

.cancel__button {
    @apply bg-theme-red-1
    text-xs
    md:text-sm
    px-2
    sm:px-3
    py-2
    rounded-md
    whitespace-nowrap
}

.withdraw__button {
    @apply bg-theme-secondary-1
    text-xs
    md:text-sm
    px-2
    sm:px-3
    py-2
    rounded-md
    whitespace-nowrap
}

.message {
    @apply text-center
    sm:col-span-2
    xl:col-span-3
    mt-4
    text-theme-white-alpha
    text-sm
}